:root {
  --tex-color: brown;
  --background-color: beige;
  --accent-color: burlywood;
}

/* COMMON */
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  line-height: 1.4;
}
a {
  text-decoration: none;
  display: block;
}
li {
  list-style: none;
}
.material-icons {
  display: block;
}
/* NAVBAR */
.navbar {
  display: flex;
  background-color:var(--background-color);
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}
.navbar__logo {
  display: flex;
}
.navbar__logo .material-icons {
  padding: 8px 2px;
  color: rgb(58, 33, 1);
}
.navbar__logo a {
  color: rgb(58, 33, 1);
  padding: 8px 2px;

}
.navbar__menu {
  display: flex;
  padding-left: 0;
}
.navbar__menu li {
  padding: 8px 12px;
}
.navbar__menu li a {
  color: var(--tex-color);
  text-align: center;
  padding: 8px;
}
.navbar__menu li a:hover {
  background-color: var(--accent-color);
  border-radius: 5px;
}
.navbar__share {
  display: flex;
  padding-left: 0;
}
.navbar__share .material-icons {
  color: var(--tex-color);
  padding: 8px 8px;
  transition: 2s;

}
.navbar__share .material-icons:hover {
  background-color: var(--accent-color);
  border-radius: 50%;
  transform: rotate(180deg);
}
.hamburger {
  color: rgb(58, 33, 1);
  position: absolute;
  right: 10px;
  top: 20px;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 700px) {
  .navbar {
    flex-direction: column;
  }
  .navbar__logo {
    align-self: flex-start;
  }
  .navbar__menu {
    flex-direction: column;
    display: none;
    width: 100%;
  }
  .navbar__menu li a:hover {
    background-color: var(--accent-color);
    border-radius: 5px;
  }
  .navbar__menu.active,
  .navbar__share.active {
    display: flex;
  }
  .navbar__share {
    display: none;
  }

  .hamburger {
    display: block;
  }
}